<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station-Screen</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <h1 class="station-name"><%= station %></h1>
    <div class="box">
        <div class="top-info">
            <%let currentTime = new Date(Date.now()).toLocaleDateString("nl-BE", { hour: "2-digit", minute: "2-digit" }).split(" ");%>
            <h1 class="top-info__time"><%=currentTime[1]%></h1>
            <h1 class="top-info__departure">Vertrek</h1>
        </div>

       <% departures.forEach(d => { %>
        <%let canceled = d.canceled == 1;%>
        <%let delayed = d.delay != 0%>
    
            <div class="departure-info <%= canceled ? "canceled-departure" : "" %>">
                <div class="departure-info__top wrapper">
                    <div class="departure-info__top__timeperron-pair">
                        <% let timeDepart = new Date(d.time * 1000).toLocaleDateString("nl-BE", { hour: "2-digit", minute: "2-digit" }).split(" "); %>
                        <h2><%=timeDepart[1]%></h2>
                        <%if(delayed) {%>
                        <div class="delay">
                            <p>+<%= parseInt(d.delay) / 60 %></p>
                        </div>
                        <%}%>
                    </div>
                    <div class="departure-info__top__typetrack-pair">
                        <h2><%= d.vehicleinfo.type %></h2>
                        <h2><%=canceled ? "-" : d.platform%></h2>
                    </div>
                </div>
                <div class="departure-info__bottom wrapper">
                    <p><%=d.station%></p>
                </div>
            </div>
        <% }); %>
    </div>

  
</body>

</html>